body{
    background: red;
    font-family: normal sans-serif;
    text-align: center;
}

header{
    font-size: 2em;
}

section{
    background: white;
    color: black;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0,0,0,20);
    
}

footer{
    font-style: italic;
}
